<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://img.freepik.com/vector-gratis/ilustracion-empresario_53876-5856.jpg?w=740&t=st=1707953173~exp=1707953773~hmac=fefc0b47e0dadca4e6b45af25634574aee52f33833c03efa709c1a9294fdf44a" alt="Javier Martínez">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        Estudiante comprometido, con habilidades sólidas en programación y análisis de datos, liderazgo, trabajo en equipo y resolución de problemas. Apasionado por las matemáticas, el desarrollo de software y la gestión de proyectos. Poseo una mentalidad emprendedora y busco oportunidades para aplicar y desarrollar mis habilidades en un entorno profesional.
                    </p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contáctame</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Mis Proyectos</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
